body {
background-image:url("https://images.pexels.com/photos/1097930/pexels-photo-1097930.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350");
  margin-left: 40px;
  margin-right: 40px;
  font-size: 23px;
}
h1{
  font-family: "Candara",sans-serif;
}
p{
  font-family: "Candara",sans-serif;
  font-weight:0;
  margin-left: 40px;
  margin-right: 40 px;
}
