body {
background-image:url("https://i.pinimg.com/originals/30/26/43/3026431590cb64c73cd0002e024e2dba.jpg");
  margin-left: 40px;
  margin-right: 40px;
  font-size: 23px;
}
h1{
  font-family: "Candara",sans-serif;
}
p{
  font-family: "Candara",sans-serif;
  font-weight:0;
}
