body {
  background-image: url("https://cdn3.bigcommerce.com/s-9qugz4w/products/17284/images/20871/436-43560__45378.1439846139.380.500.jpg?c=2");
  margin-left: 40px;
  margin-right: 40px;
  font-size: 20px;
  color: black

  ;
