.btn {
    background-color:Silver; /* Blue background */
    border: none; /* Remove borders */
    color: salmon; /* White text */
    padding: 14px 90px; /* Some padding */
    font-size: 20px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    /* margin-left: 740px;
    margin-top: -25px; */
}
/* Darker background on mouse-over */
.btn:hover {
    background-color: Lavender;
  }
