body {
  background-image: url("https://78.media.tumblr.com/5bb44abbcd9b1ba66c2451e5ba22efff/tumblr_o85xqxz4G81uiv7pro1_500.jpg");
  background-repeat: no-repeat;
    background-size: 100%;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 20px;
  color: black

  ;
