h1 {
  font-size: 40px;
  font-family: "Courier New", Courier, monospace
}
.topnav {
    background-color: #B8B8B8;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
body {
  background-image: url("http://www.modafinilsale.com/data/out/780/232323860-pink-and-gold-desktop-wallpaper.jpg");
  margin-left: 40px;
  margin-right: 40px;
}

.mainpic {
  border: 10px solid transparent;
  margin-top: 30px;

}

#beaute {
  margin-left: 100px;
  border:8px solid #FFC0CB;
}
#beaute2 {
  border:8px solid #FFC0CB;
}
#lamode {
  margin-left: 90px;
  border:8px solid #F08080;
}
#lamode2 {
  border:8px solid #F08080;
}
/* Style buttons */
.btn {
    background-color:Silver; /* Blue background */
    border: none; /* Remove borders */
    color: salmon; /* White text */
    padding: 14px 90px; /* Some padding */
    font-size: 20px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    /* margin-left: 740px;
    margin-top: -25px; */
}
/* Darker background on mouse-over */
.btn:hover {
    background-color: Lavender;
  }


img{
  width: 200px;
  height: 300px;
}

#beautebutton{
  float: inline-end;
}

#lamodebutton{
  float: inline-start;
}
